.container{
    display: flex;
}

.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div{
    border: 1px solid black;
    border-radius: 3px;
    width: 18px;
    height: 18px;
}

.tetromino{
    background-color: blue;
}

.small-grid{
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.small-grid div{
    border: 1px solid black;
    border-radius: 3px;
    width: 18px;
    height: 18px;
}

.tetrominoNext{
    background-color: blue;
}

.grid .down-row{
    border: 0px;
}

#start-button{
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 2px;
    font-weight: bolder;
}

