.container{
    display: flex;
}

.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div{
    width: 20px;
    height: 20px;
}

.tetromino{
    background-color: blue;
}

.small-grid{
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.small-grid div{
    width: 20px;
    height: 20px;
}

.tetrominoNext{
    background-color: blue;
}